@import "tailwindcss";

:root {
  --background: #232323;
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: white;
  }
}

body {
  background: #232323;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgba(0, 0, 0, 0.05);
}